@Font-Face {
    font-family: manrope;
    src: url("fonts/Manrope-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@Font-Face {
    font-family: manrope;
    src: url("fonts/Manrope-Bold.ttf");
    font-weight: 600;
    font-style: normal;
}
@Font-Face {
    font-family: manrope;
    src: url("fonts/Manrope-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

html {
    margin: 0;
    width: 100%;
}

:root {
    --soft-cyan: hsl(174, 77%, 80%);
    --soft-cyan-transparent: hsl(174, 77%, 60%);
    --strong-yan: hsl(174, 86%, 45%);
    --light-Grayish-red: hsl(14, 92%, 95%);
    --light-red: hsl(15, 100%, 70%);
    --pale-blue: hsl(226, 100%, 87%);

    --white: hsl(0, 0%, 100%);
    --very-pale-blue: hsl(230, 100%, 99%);
    --light-grayish-blue-slider: hsl(224, 65%, 95%);
    --light-grayish-blue-bg: hsl(223, 50%, 87%);
    --grayish-blue: hsl(225, 20%, 60%);
    --dark-desaturated-blue: hsl(227, 35%, 25%)
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'manrope', sans-serif;
    font-size: 15px;
    color: var(--grayish-blue);
    text-align: center;
    line-height: 1.5rem;
    background-image:
            url("images/pattern-circles.svg"),
            url("images/bg-pattern.svg"),
            linear-gradient(var(--very-pale-blue), var(--very-pale-blue));
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 50%;
    background-position: center 10%, top center;
}

h1{
    color: var(--dark-desaturated-blue);
    font-size: 1.4rem;
}


/* ------ SHARED DISPLAY SETTING ----- */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
}


/* ----- PAGE ELEMENTS ------ */

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    height: 20%;
    width: 85%;
}
.header p {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.card {
    height: 50%;
    width: 33.333%;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 10px 20px 1px var(--light-grayish-blue-slider);
}
/* ------ CARD ITEMS ------ */
/* <<<<<< CARD ITEM 1 >>>>>> */

#price {
    font-size: 2rem;
    font-weight: 800;
    color: var(--dark-desaturated-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

#price::before {
    content: "$";
}

#price::after {
    content: "/ month";
    font-size: 12px;
    color: var(--grayish-blue);
    margin: .5rem;
}

#page-views {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .7rem;
    letter-spacing: .1rem;
}

#page-views::after {
    content: " pageviews";
}

/* <<<<<< SLIDER >>>>>> */


input[type="range"] {
    --track-background: linear-gradient(to right, var(--soft-cyan) 50%, var(--light-grayish-blue-slider) 50%);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 80%;
    cursor: pointer;
}

input[type="range"]:focus {
    outline: none;
}

/* --------- CHROME, SAFARI etc --------- */



input[type="range"]::-webkit-slider-runnable-track {
    background: var(--track-background);
    border-radius: 15px;
    height: 10px;
}


input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -20px; /* Centers thumb on the track -> (track-height in px / 2) - (thumb-height in px / 2) thanks to https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/  */
    background-image: url("images/icon-slider.svg"), linear-gradient(var(--strong-yan), var(--strong-yan));
    background-repeat: no-repeat;
    background-position: center;
    box-shadow:  0 20px 50px 2px var(--strong-yan);
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50px;
}

input[type="range"]:focus::-webkit-slider-thumb {
    border: 1px solid var(--strong-yan);
    outline: 3px solid var(--strong-yan);
    outline-offset: 0.125rem;
}
input[type="range"]:hover::-webkit-slider-thumb {

    background-image: url("images/icon-slider.svg"), linear-gradient(var(--soft-cyan-transparent), var(--soft-cyan-transparent));
    background-repeat: no-repeat;
    background-position: center;
}
/* -------- FIREFOX ---------- */

input[type="range"]::-moz-range-track{
    background-color: var(--light-grayish-blue-slider);
    border-radius: 15px;
    height: 10px;
}
input[type="range"]::-moz-range-thumb {
    margin-top: -20px; /* Centers thumb on the track -> (track-height in px / 2) - (thumb-height in px / 2) thanks to https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/  */
    background-color: var(--strong-yan);
    height: 3rem;
    width: 3rem;
    border-radius: 50px;
    border: none;
}

input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid var(--strong-yan);
    outline: 3px solid var(--strong-yan);
    outline-offset: 0.125rem;
}


/* <<<<<< CARD ITEM 1 >>>>>> */
    #pricing {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 3rem;

    }
    #page-views {
        width: 33.333%;
    }
    #price {
        width: 33.333%;
    }
    #slider {
        width: 80%;
    }

/* <<<<<< CARD ITEM 2 >>>>>> */
.card-item-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 13px;
    font-weight: 600;
}




/* <<<<<< TOGGLE >>>>>>> */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin: 0 .5rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--pale-blue);
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .3s;
}

input:checked + .toggle {
    background-color: var(--strong-yan);
}

input:focus + .toggle {
    box-shadow: 0 0 1px var(--strong-yan);
}

input:checked + .toggle:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.toggle.round {
    border-radius: 20px;
}

.toggle.round:before {
    border-radius: 50%;
}

#discount-alert-desktop, #discount-alert-mobile {
    background-color: var(--light-Grayish-red);
    color: var(--light-red);
    font-size: 10px;
    padding: 0.2rem 0.7rem;
    border-radius: 9999px;
}
#discount-alert-mobile {
    display: none;
}

/* <<<<<< CARD ITEM 4 >>>>>> */
.card-item-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid var(--light-grayish-blue-slider);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1rem 0;
}
i {
    color: var(--strong-yan);
    margin-right: .8rem;
}
li {
    font-size: 12px;
}

button {
    background-color: var(--dark-desaturated-blue);
    color: var(--pale-blue);
    padding: 0.7rem 1rem;
    min-width: 180px;
    border-radius: 50px;
    border: none;
    font-size: .7rem;
}

button:hover {
    color: var(--white);
}





/* ------ MEDIA QUERIES ------ */
@media (max-width: 1200px) {
    .card { width: 65%;}
    .card-item-3 {
        flex-direction: column;
        justify-content: center;
    }
    #pricing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 2rem;
    }
    #page-views {
        order: 1;
        width: 100%;
    }
    #slider {
        order: 2;
        width: 100%;
    }
    #price {
        order: 3;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .card {
        width: 85%;
    }



    #discount-alert-desktop {
        display: none;
    }
    #discount-alert-mobile {
        display: inline-block;
        padding: 0 0.5rem;
    }


}